<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{app.title}}</title>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
    <div class="app-wrapper">
        
        <h1 class="app-header">Weather App</h1>
        
        <div class="nav-menu">
            <ul>
                <li>Home</li>
                <li>About</li>
            </ul>
        </div>

        <div class="content-wrapper">

        </div>

        <div class="footernote">
            API source: weatherStack
        </div>

    </div>
</body>
</html>